@model testMvc.Models.citeis

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקה</h2>

<h3>האם את/ה בטוח למחוק את הפריט?</h3>
<div>
    <h4>citeis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
